<!--Date Name Logout-->
<div class="nav">
    <div class="nav-links">
      <ul>
        <li><a id="run-date" class="text-secondary">Date |</a></li>
        <li><a href="#">Fristname Lastname</a></li>
        <li><a href="#">LOGOUT</a></li>
      </ul>
    </div>
  </div>

  <!--header nav-->
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="img/logo.svg">
      </a>

      <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">ABOUT IVAO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">PILOTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">CONTROLLERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">COMMUNITY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">RESOURCES</a>
        </li>
        </li>
        <li>
            <a class="btn btn-outline-primary donate-btn" href="#">DONATE</a>
        </li>
      </ul>
    </div>

  </nav>